# Automatically switch to nvm node version from .nvmrc - needs direnv installed
# https://github.com/direnv/direnv/blob/6a73cc2d7d13054829501df8756db04e79ff6a29/man/direnv-stdlib.1.md?plain=1#L341
export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node
use node

source .envrc.local 2>/dev/null || true
