.DS_Store
node_modules
.env
.idea
.envrc.local

coverage
coverage.json
typechain
typechain-types

contracts/.deps

# Hardhat files
cache
cache/**/*

pnpm-lock.yaml

artifacts

# TypeScript files
dist
dist-executor
test/**/*.d.ts
test/**/*.js.map
# this one is temporary, until all .js test files are moved to .ts
test/services/**/*.js
src/test.ts

bin
.vscode/launch.json

# sea
server-out.js
sea-prep.blob
executor

#eslint
eslint_report.json
